<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="<%= require('./favicon.ico') %>">
  <title>Arcade Genius v<%= appVersion %></title>
</head>
<body>
  <h1>
    <img class="title-logo-img" src="<%= require('./logo.png') %>" alt="Arcade Genius" /><br />
  </h1>
  <h2 class="title-version-tag">
    v<%= appVersion %> Alpha
  </h2>
  
  <p class="disclaimer"><strong>This tool is still under development. Beware false positivies and negatives.</strong></p>
  <p>
    Internet Explorer and Microsoft Edge browsers are currently <strong>not supported</strong>.
    Please use
    <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a>
    or
    <a href="https://www.google.com/chrome/">Chrome</a>.
  </p>
  <br />
  
  <div class="loading-indicator">
    Loading<span class="loading-indicator__ellipsis">...</span><br />
    <br />
    <noscript>
      JavaScript is required. Please enable it.<br />
      <br />
    </noscript>
  </div>
  
  <section class="content hidden">
    <h3><a id="machine-names">ROM Names</a></h3>
    <div class="machine-name-list-container">
      Loading...
    </div>
    <br />
    <hr />
    
    <h3><a id="control-panel-config">Control Panel Configuration</a></h3>
    <div class="control-panel-configurator-group-container">
      Loading...
    </div>
    <br />
    <hr />
    
    <h3><a id="monitor-config">CRT Monitor Configuration</a></h3>
    <div class="monitor-configurator-group-container">
      Loading...
    </div>
    <br />
    <hr />
    
    <h3><a id="compatibility">Compatibility</a></h3>
    <div class="comp-table-container">
      Loading...
    </div>
    <br />
    <hr />
    
    <div class="metadata">
      <textarea class="metadata__text" readonly="true"></textarea>
    </div>
    <br />
  </section>
  
  <footer>
    <p>by Mike "yo1dog" Moore - <a href="https://yo1.dog" target="_blank">yo1.dog</a></p>
    <p><a href="https://github.com/yo1dog/arcade-genius" target="_blank">Source</a></p>
  </footer>
  
  <span class="force-font-preload">&#x0042;</span>
</body>
</html>