<tr class="game-override-control-manager__control">
  <td>
    <span class="game-override-control-manager__control-def-name"></span>
    <span class="game-override-control-manager__control-buttons-desc game-override-control-manager__control-buttons-desc--plural hidden">
      (with
      <span class="game-override-control-manager__control-buttons-desc__count hidden"></span>
      <input class="game-override-control-manager__control-buttons-desc__count-input hidden" type="number" step="1" min="1" max="9" value="0" size="1" />
      <span class="game-override-control-manager__control-buttons-desc__text--singular">button)</span>
      <span class="game-override-control-manager__control-buttons-desc__text--plural">buttons)</span>
    </span>
  </td>
  <td>
    <button class="game-override-control-manager__remove-button">Remove</button>
  </td>
</tr>