<div class="game-override-control-config-manager">
  <table>
    <tr class="hidden">
      <td colspan="2"><button class="game-override-control-config-manager__remove-button">Remove</button></td>
    </tr>
    <tr>
      <td>Target Cabinet Type</td>
      <td>
        <select class="game-override-control-config-manager__target-cabinet-type-select" disabled>
          <option value="upright" selected>Upright </option>
          <option value="cocktail"        >Cocktail</option>
        </select>
      </td>
    </tr>
    <!--
    <tr>
      <td>Menu Buttons</td>
      <td><input class="game-override-control-config-manager__menu-button-count-input" type="number" step="1" min="0" max="9" value="0" size="1" /></td>
    </tr>
    -->
    <tr>
      <td>Control Sets</td>
      <td>
        <div class="game-override-control-config-manager__control-set-container"></div>
        <button class="game-override-control-config-manager__add-control-set-button">Add Control Set</button>
      </td>
    </tr>
  </table>
</div>