<div class="game-override-control-set-manager">
  <table>
    <tr>
      <td colspan="2"><button class="game-override-control-set-manager__remove-button">Remove Control Set</button></td>
    </tr>
    <tr>
      <td>Supports Players</td>
      <td><input class="game-override-control-set-manager__supported-player-nums-input" disabled /></td>
    </tr>
    <tr>
      <td>Required</td>
      <td><input class="game-override-control-set-manager__is-required-checkbox" type="checkbox" /></td>
    </tr>
    <tr>
      <td>Control Panel Buttons</td>
      <td><input class="game-override-control-set-manager__control-panel-button-count-input" type="number" step="1" min="0" value="3" /></td>
    </tr>
    <tr>
      <td>Controls</td>
      <td>
        <table>
          
        </table>
        
        
        <div class="game-override-control-set-manager__control-container"></div>
        <select class="game-override-control-set-manager__control-type-select">
          <option value="" selected disabled hidden>Select Control</option>
        </select>
        <button class="game-override-control-set-manager__add-control-button">Add</button>
        <p class="game-override-control-set-manager__control-type-description"></p>
      </td>
    </tr>
  </table>
</div>
