<div class="monitor-configurator">
  <table>
    <tr>
      <td>Preset:</td>
      <td>
        <select class="monitor-configurator__preset-input">
          <!--<option>custom</option>-->
          <option value="custom">custom</option>
          <option value="pal">pal</option>
          <option value="ntsc">ntsc</option>
          <option value="generic_15">generic_15</option>
          <option value="arcade_15" selected>arcade_15</option>
          <option value="arcade_15ex">arcade_15ex</option>
          <option value="arcade_25">arcade_25</option>
          <option value="arcade_31">arcade_31</option>
          <option value="arcade_15_25">arcade_15_25</option>
          <option value="arcade_15_31">arcade_15_31</option>
          <option value="arcade_15_25_31">arcade_15_25_31</option>
          <option value="m2929">m2929</option>
          <option value="d9800">d9800</option>
          <option value="d9400">d9400</option>
          <option value="d9200">d9200</option>
          <option value="k7000">k7000</option>
          <option value="k7131">k7131</option>
          <option value="m3129">m3129</option>
          <option value="h9110">h9110</option>
          <option value="polo">polo</option>
          <option value="pstar">pstar</option>
          <option value="ms2930">ms2930</option>
          <option value="ms929">ms929</option>
          <option value="r666b">r666b</option>
          <option value="pc_31_120">pc_31_120</option>
          <option value="pc_70_120">pc_70_120</option>
          <option value="vesa_480">vesa_480</option>
          <option value="vesa_600">vesa_600</option>
          <option value="vesa_768">vesa_768</option>
          <option value="vesa_1024">vesa_1024</option>
        </select>
      </td>
    </tr>
    <tr class="monitor-configurator__ranges-row hidden">
      <td>Ranges:</td>
      <td>
        <textarea class="monitor-configurator__ranges-input"></textarea>
      </td>
    </tr>
    <tr>
      <td>Orientation:</td>
      <td>
        <select class="monitor-configurator__orientation-input">
          <option value="horizontal">horizontal</option>
          <option value="vertical">vertical</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Allow Interlaced:</td>
      <td><input type="checkbox" class="monitor-configurator__allow-interlaced-checkbox" checked /></td>
    </tr>
    <tr>
      <td>Allow Doublescan:</td>
      <td><input type="checkbox" class="monitor-configurator__allow-doublescan-checkbox" checked /></td>
    </tr>
  </table>
   
  
</div>