<button id="support-table__refresh-button">Refresh</button><br />
<table class="support-table">
  <thead>
    <tr class="support-table__header-row">
      <th class="support-table__header-row__machine-name">Name</th>
      <th class="support-table__header-row__desc">Description</th>
      <th colspan="2" class="support-table__header-row__emu-status">Emulation</th>
      <th colspan="2" class="support-table__header-row__controls-status">Controls</th>
      <th colspan="2" class="support-table__header-row__video-status">Video</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="support-table__body"></tbody>
</table>