<tr class="comp-table__row">
  <td class="comp-table__row__machine-name"></td>
  <td class="comp-table__row__desc"></td>
  <td class="comp-table__row__emu-status-icon">
    <span class="comp-table__row__icon-good">✔️</span>
    <span class="comp-table__row__icon-warn">⚠️</span>
    <span class="comp-table__row__icon-error">❌</span>
    <span class="comp-table__row__icon-unknown">&#x2049;&#xFE0F;</span>
  </td>
  <td class="comp-table__row__emu-status"></td>
  <td class="comp-table__row__controls-status-icon">
    <span class="comp-table__row__icon-good">✔️</span>
    <span class="comp-table__row__icon-warn">⚠️</span>
    <span class="comp-table__row__icon-error">❌</span>
    <span class="comp-table__row__icon-unknown">&#x2049;&#xFE0F;</span>
  </td>
  <td class="comp-table__row__controls-status"></td>
  <td class="comp-table__row__video-status-icon">
    <span class="comp-table__row__icon-good">✔️</span>
    <span class="comp-table__row__icon-warn">⚠️</span>
    <span class="comp-table__row__icon-error">❌</span>
    <span class="comp-table__row__icon-unknown">&#x2049;&#xFE0F;</span>
  </td>
  <td class="comp-table__row__video-status"></td>
  <td class="comp-table__row__toggle-details">
    <button class="comp-table__row__toggle-details-button toggle-state-off">
      details
      <span class="comp-table__row__toggle-details-button__on-text">−</span>
      <span class="comp-table__row__toggle-details-button__off-text">+</span>
    </button>
  </td>
</tr>
<tr class="comp-table__details-row hidden">
  <td colspan="9"><textarea class="comp-table__details-row__text" readonly="true"></textarea></td>
</tr>