@goodColor: green;
@warnColor: orange;
@errorColor: red;
@unknownColor: gray;
@fixedWidthFontFamily: 'Courier New', Courier, monospace;

@import (less) url(./fonts/glyphter/css/Glyphter.css);

.json-view {
  @import url('../../../lib/jsonview/jsonview.less');
  
  .fa-caret-down::before,
  .fa-caret-right::before {
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  .fa-caret-down {
    &:extend(.icon-caret-down-solid all);
    font-size: 0.75em;
  }
  .fa-caret-right {
    &:extend(.icon-caret-right-solid all);
    font-size: 0.75em;
  }
  
  
  background-color: white;
  overflow: auto;
  resize: both;
  border: 1px solid black;
  font-size: inherit;
  font-family: inherit;
}

.comp-table__icon {
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  
  font-size: 1.15em;
  vertical-align: -0.15em;
}
.comp-table__icon--good {
  &:extend(.icon-check-circle-solid all);
  color: @goodColor;
}
.comp-table__icon--warn {
  &:extend(.icon-exclamation-triangle-solid all);
  color: @warnColor;
}
.comp-table__icon--error {
  &:extend(.icon-times-circle-solid all);
  color: @errorColor;
}
.comp-table__icon--unknown {
  &:extend(.icon-question-circle-solid all);
  color: @unknownColor;
}


.comp-table__table {
  border-collapse: collapse;
  padding: 0.5em;
  
  > thead {
    text-align: left;
    vertical-align: bottom;
  }
}

.comp-table__header-row__controls-status,
.comp-table__header-row__video-status,
.comp-table__sub-header-row {
  text-align: center;
}

.comp-table__table--single-control-panel-configuration {
  .comp-table__header-row__controls-status {
    text-align: inherit;
  }
  .comp-table__sub-header-row__title--control-panel-configuration {
    display: none;
  }
}
.comp-table__table--single-monitor-configuration {
  .comp-table__header-row__video-status {
    text-align: inherit;
  }
  .comp-table__sub-header-row__title--monitor-configuration {
    display: none;
  }
}


.comp-table__row {
  border: 1px lightgray;
  border-style: dotted none;
}
.comp-table__row--odd {}
.comp-table__row--even {}

.comp-table__row,
.comp-table__details-row {
  > th, > td {
    padding-left: 0.5em;
    padding-right: $padding-left;
    max-width: 50em;
  }
}

.comp-table__row.comp-table--error {
  .comp-table__row__machine-name,
  .comp-table__row__desc {
    color: @errorColor;
  }
}
.comp-table__row.comp-table--unknown {
  .comp-table__row__machine-name,
  .comp-table__row__desc {
    color: @unknownColor;
  }
}

.comp-table__row--invalid-machine-name {
  .comp-table__row__desc {
    font-family: @fixedWidthFontFamily;
  }
}

.comp-table__row--unsupported {
  .comp-table__row__desc__text {
    text-decoration-line: line-through;
  }
}

.comp-table__row__machine-name {
  font-family: @fixedWidthFontFamily;
}

.comp-table__row__emu-status,
.comp-table__row__controls-status,
.comp-table__row__video-status {
  &.comp-table--error {
    color: @errorColor;
  }
  &.comp-table--unknown {
    color: @unknownColor;
  }
}


.comp-table__row__toggle-details {
  text-align: right;
}
.comp-table__row__toggle-details-button {
  white-space: nowrap;
}
.comp-table__row__toggle-details-button__on-text {
  display: none;
}
.comp-table__row--details-shown {
  .comp-table__row__toggle-details-button__on-text {
    display: inline;
  }
  .comp-table__row__toggle-details-button__off-text {
    display: none;
  }
}

/*
.comp-table__spacer-row {
  transition: height 0.3s ease-in-out;
  height: 0;
  
  &.comp-table__row--details-shown {
    height: 1em;
    
    & + & {
      height: 0;
    }
  }
}

.comp-table__details-row {
  td {
    padding: 0;
  }
  
  div:first-of-type {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow-y: auto;
  }
  
  &.comp-table__row--details-shown {
    div:first-of-type {
      padding: 0.5em 0.5em;
      max-height: 20em;
    }
  }
}
*/
.comp-table__spacer-row {
  height: 0em;
  
  &.comp-table__row--details-shown {
    height: 1em;
    
    & + & {
      height: 0;
    }
  }
  
  &:first-of-type,
  &:last-of-type {
    height: 0;
  }
}

.comp-table__details-row {
  display: none;
  
  & > td {
    padding: 0;
    margin: 0;
    
    & > div {
      margin: 1em;
      position: relative;
    }
  }
  
  
  &.comp-table__row--details-shown {
    display: table-row;
  }
}

.comp-table__row--details-shown {
  &.comp-table__row,
  &.comp-table__details-row {
    border-color: gray;
    border-width: 1pt;
    border-style: solid;
    background-color: floralwhite;
  }
  
  &.comp-table__row td {
    padding-top: 0.5em;
    padding-bottom: $padding-top;
  }
  
  &.comp-table__details-row {
    border-top-style: none;
  }
}


.comp-table__details-row__list {
  list-style: none;
  padding: 0;
  margin: 0.5em;
  margin-right: 0;
  
  li + li {
    padding-top: 0.25em;
  }
}
.comp-table__details-row__list__item {
  .comp-table__icon {
    display: inline-block;
    width: 1.25em;
  }
}

/*
.comp-table__details-row__list__item--optional {
  font-style: italic;
  
  .comp-table__icon {
    opacity: 0.5;
  }
}
*/
.comp-table__details-row__list__item--header {
  font-weight: bold;
}
.comp-table__details-row__list__item + .comp-table__details-row__list__item--header {
  padding-top: 0.75em;
}


.comp-table__details-row__machine-suggestion-table {
  margin-top: 1em;
}
.comp-table__details-row__machine-suggestion-table__name {
  font-family: @fixedWidthFontFamily;
  padding-right: 1em;
}

.comp-table__details-row__toggle-data {
  font-size: smaller;
  text-align: right;
  margin: 0.5em;
}

.comp-table__details-row__toggle-data-link__on-text {
  display: none;
}
.comp-table__row--data-shown {
  .comp-table__details-row__toggle-data-link__on-text {
    display: initial;
  }
  .comp-table__details-row__toggle-data-link__off-text {
    display: none;
  }
}

.comp-table__details-row__data__modelines-table {
  border-collapse: collapse;
  display: none;
  width: 100%;
  background-color: white;
  
  .comp-table__row--data-shown & {
    display: block;
  }
}

.comp-table__details-row__data__modelines-table {
  td, th {
    border: 1px solid black;
    border-bottom-style: none;
    padding: 0.25em;
    box-sizing: border-box;
  }
  
  td {
    width: 100%;
    position: relative;
  }
  
  th {
    text-align: left;
  }
}

.comp-table__details-row__data__modelines-table__value {
  font-family: 'Courier New', Courier, monospace;
}

.comp-table__details-row__data__json {
  box-sizing: border-box;
  
  display: none;
  .comp-table__row--data-shown & {
    display: block;
  }
}
