<tr class="comp-table__spacer-row"></tr>
<tr class="comp-table__row">
  <!--
  <td class="comp-table__row__machine-name">
    <i class="comp-table__row__machine-name__icon comp-table__icon"></i>
    <span class="comp-table__row__machine-name__text"></span>
  </td>
  -->
  <td class="comp-table__row__desc">
    <i class="comp-table__row__desc__icon comp-table__icon"></i>
    <span class="comp-table__row__desc__text"></span>
  </td>
  <td class="comp-table__row__emu-status">
    <i class="comp-table__row__emu-status__icon comp-table__icon"></i>
    <span class="comp-table__row__emu-status__text"></span>
  </td>
  <td class="comp-table__row__controls-status">
    <i class="comp-table__row__controls-status__icon comp-table__icon"></i>
    <span class="comp-table__row__controls-status__text"></span>
  </td>
  <td class="comp-table__row__video-status">
    <i class="comp-table__row__video-status__icon comp-table__icon"></i>
    <span class="comp-table__row__video-status__text"></span>
  </td>
  <td class="comp-table__row__toggle-details">
    <button class="comp-table__row__toggle-details-button toggle-state-off">
      details
      <span class="comp-table__row__toggle-details-button__on-text">−</span>
      <span class="comp-table__row__toggle-details-button__off-text">+</span>
    </button>
  </td>
</tr>
<tr class="comp-table__details-row">
  <td colspan="5">
    <div>
      <ul class="comp-table__details-row__list comp-table__details-row__list--machine"></ul>
      
      <div class="comp-table__details-row__main-content">
        <strong>Emulation:</strong><br />
        <ul class="comp-table__details-row__list comp-table__details-row__list--emu"></ul>
        <br />
        
        <strong>Video:</strong><br />
        <ul class="comp-table__details-row__list comp-table__details-row__list--video"></ul>
        <br />
        
        <strong>Controls:</strong><br />
        <ul class="comp-table__details-row__list comp-table__details-row__list--controls"></ul>
      </div>
      
      <div class="comp-table__details-row__toggle-data">
        <a class="comp-table__details-row__toggle-data-link fake-link" href="#">
          <span class="comp-table__details-row__toggle-data-link__on-text">hide</span>
          <span class="comp-table__details-row__toggle-data-link__off-text">show</span>
          data
        </a>
      </div>
      <div class="comp-table__details-row__data">
        <table class="comp-table__details-row__data__modelines-table">
          <tr>
            <th>Description:</th>
            <td><div class="comp-table__details-row__data__modelines-table__value comp-table__details-row__data__modelines-table__value--desc"></div></td>
          </tr>
          <tr>
            <th>Result:</th>
            <td><div class="comp-table__details-row__data__modelines-table__value comp-table__details-row__data__modelines-table__value--result"></div></td>
          </tr>
          <tr>
            <th>Modeline:</th>
            <td><div class="comp-table__details-row__data__modelines-table__value comp-table__details-row__data__modelines-table__value--modeline"></div></td>
          </tr>
        </table>
        <div class="comp-table__details-row__data__json json-view"></div>
      </div>
    </div>
  </td>
</tr>
<tr class="comp-table__spacer-row"></tr>