<tr class="comp-table__row">
  <td class="comp-table__row__machine-name">
    <span class="comp-table__row__machine-name__text"></span>
  </td>
  <td class="comp-table__row__desc">
    <span class="comp-table__row__desc__text"></span>
  </td>
  <td class="comp-table__row__emu-status">
    <span class="comp-table__row__emu-status__text"></span>
  </td>
  <td class="comp-table__row__controls-status">
    <span class="comp-table__row__controls-status__text"></span>
  </td>
  <td class="comp-table__row__video-status">
    <span class="comp-table__row__video-status__text"></span>
  </td>
  <td class="comp-table__row__toggle-details">
    <button class="comp-table__row__toggle-details-button toggle-state-off">
      details
      <span class="comp-table__row__toggle-details-button__on-text">−</span>
      <span class="comp-table__row__toggle-details-button__off-text">+</span>
    </button>
  </td>
</tr>
<tr class="comp-table__details-row hidden">
  <td colspan="6">
    <p><strong>Controls:</strong></p>
    <ul class="comp-table__details-row__controls-list"></ul>
    <br />
    <textarea class="comp-table__details-row__json" readonly="true"></textarea>
  </td>
</tr>