<div class="comp-table">
  <button class="comp-table__refresh-button">Refresh</button><br />
  <table class="comp-table__table comp-table__table--single-monitor-configuration">
    <thead>
      <tr class="comp-table__header-row">
        <!--<th rowspan="2" class="comp-table__header-row__game-name">Name</th>-->
        <th rowspan="2" class="comp-table__header-row__desc">ROM</th>
        <th rowspan="2" class="comp-table__header-row__emu-status">Emulation</th>
        <th class="comp-table__header-row__controls-status">Controls</th>
        <th class="comp-table__header-row__video-status">Video</th>
        <th></th>
      </tr>
      <tr class="comp-table__sub-header-row">
        <th class="comp-table__sub-header-row__title--control-panel-configuration"></th>
        <th class="comp-table__sub-header-row__title--monitor-configuration"></th>
      </tr>
    </thead>
    <tbody class="comp-table__body"></tbody>
  </table>
</div>