<div class="controls-configurator">
  Player Buttons<br />
  <table class="controls-configurator__button-table">
    <tr>
      <td>P1</td>
      <td>P2</td>
      <td>P3</td>
      <td>P4</td>
    </tr>
    <tr>
      <td><input class="controls-configurator__num-buttons-input controls-configurator__num-buttons-input--p1" type="number" step="1" min="0" max="9" value="0" size="1" /></td>
      <td><input class="controls-configurator__num-buttons-input controls-configurator__num-buttons-input--p2" type="number" step="1" min="0" max="9" value="0" size="1" /></td>
      <td><input class="controls-configurator__num-buttons-input controls-configurator__num-buttons-input--p3" type="number" step="1" min="0" max="9" value="0" size="1" /></td>
      <td><input class="controls-configurator__num-buttons-input controls-configurator__num-buttons-input--p4" type="number" step="1" min="0" max="9" value="0" size="1" /></td>
    </tr>
  </table>
  
  <table class="controls-configurator__control-table">
  </table>
  
  <select class="controls-configurator__add-control-type-select">
    <option value="" selected disabled hidden>Select Control</option>
  </select>
  <button class="controls-configurator__add-control-button">Add</button>
  <p class="controls-configurator__add-control-description"></p>
</div>