<tr class="control-panel-designer__control-set">
  <td>
    <input class="control-panel-designer__control-set__control-name-input" />
  </td>
  <td>
    <span class="control-panel-designer__control-set__control-def-name"></span>
    <span class="control-panel-designer__control-set__control-buttons-desc control-panel-designer__control-set__control-buttons-desc--plural hidden">
      (with
      <span class="control-panel-designer__control-set__control-buttons-desc__count hidden"></span>
      <input class="control-panel-designer__control-set__control-buttons-desc__count-input hidden" type="number" step="1" min="1" max="9" value="0" size="1" />
      <span class="control-panel-designer__control-set__control-buttons-desc__text--singular">button)</span>
      <span class="control-panel-designer__control-set__control-buttons-desc__text--plural">buttons)</span>
    </span>
  </td>
  <td>
    <select class="control-panel-designer__control-set__button-cluster-select">
    </select>
  </td>
  <td>
    <button class="control-panel-designer__control-set__remove-button">Remove</button>
  </td>
</tr>