<div class="control-panel-configurator">
  Button Clusters
  <table class="control-panel-configurator__button-cluster-table">
    <thead>
      <tr>
        <th>Name</td>
        <th>Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="control-panel-configurator__button-cluster-table__body">
    </tbody>
  </table>
  <button class="control-panel-configurator__add-button-cluster-button">Add</button><br />
  <br />
  
  Controls
  <table class="control-panel-configurator__control-set-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Button Cluster</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="control-panel-configurator__control-set-table__body">
    </tbody>
  </table>
  <select class="control-panel-configurator__control-type-select">
    <option value="" selected disabled hidden>Select Control</option>
  </select>
  <button class="control-panel-configurator__add-control-set-button">Add</button>
  <p class="control-panel-configurator__control-description"></p>
</div>