body {
  font-family: Tahoma, sans-serif;
  font-size: 10pt;
}

.title-version-tag {
  color: red;
}
.disclaimer {
  color: red;
  font-size: large;
}

.metadata {}
.metadata__text {
  width: 30em;
  height: 5em;
}

button {
  white-space: nowrap;
}

.hidden {
  display: none !important; 
}

.loading-indicator {
  font-size: large;
  color: red;
}

.fake-link {
  a&, a&:visited{
    color: blue;
  }
}